# 华为云镜像配置
electron_mirror=https://mirrors.huaweicloud.com/electron/
electron_builder_binaries_mirror=https://mirrors.huaweicloud.com/electron-builder-binaries/

# 可选：华为云 npm 仓库（如果需要加速其他 npm 包）
registry=https://mirrors.huaweicloud.com/repository/npm/